<% if @recipes.empty? %>
    <h1>No Public Recipes found</h1>
<% else %>
    <h1>Public Recipes</h1>
    <ul>
        <% @recipes.each do |recipe| %>
            <li>
                <span>
                    <%= link_to recipe.name, recipe_path(recipe.id) %>
                    <p>By: <%= recipe.user.name %></p>
                </span>
                <span>
                    <p>Total food items: <%= recipe.total_food_items %></p>
                    <p>Total price: <%= recipe.total_price %></p>
                </span>
            </li>
        <% end %>
    </ul>
<% end %>
            
