<div class="splash">
    <div class="splash-container">
        <div class="logo"><%= image_tag('logo.png', alt: 'Logo', class: 'logo-img' ) %></div>
        <p class="intro welcome">Welcome to the Recipe App!</p>
        <p class="intro">Please log in or sign up to get started.</p>
        <div>
            <%= link_to "LOG IN", new_user_session_path, class: 'login' %>
            <%= link_to "SIGN UP", new_user_registration_path, class: 'signup' %>
        </div>
    </div>
</div>