<article class="recipe">
  <div>
    <div>
    <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <div>
      <% if can? :detroy, recipe %>
        <%= link_to(t('common.remove'), recipe_path(recipe), data: {
          turbo_method: :delete,
          turbo_confirm: t('.confirm_delete')
        })%>
      <% end %>
    </div>
  </div>
  <div>
    <%= recipe.description %>
  </div>
</article>


