<nav>
  <ul>
    <li><%= link_to t('.public_recipes'), public_recipes_path %></li>
    <li><%= link_to t('.my_recipes'), recipes_path %></li>
    <li><%= link_to t('.my_foods'), foods_path %></li>
  </ul>
</nav>