/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --black: #333;
  --red: #ff3f53;
  --border: #ccc;
  --hover-red: #d04250;
  --hover-blue: #0069d9;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

main {
  width: 85%;
  margin: 30px auto;
  border: 1px solid var(--blue);
}

main > h2 {
  border-bottom: 1px solid var(--blue);
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  margin: 0;
  font-size: 18px;
}

.sharedLinks {
  text-align: center;
}

.sharedLinks a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-link,
button,
input[type="submit"] {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: var(--blue);
  width: fit-content;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
}

.btn-link {
  margin: 10px auto;
}

.btn-link:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--hover-blue);
}

.btn-link.warning {
  background-color: var(--red);
  color: #fff;
}

.btn-link.warning:hover {
  background-color: var(--hover-red);
}

.btn-link.small {
  margin: 0;
  padding: 3px 5px;
  font-size: 12px;
}

.btn-link.large {
  margin: 0 auto;
  padding: 6px 8px;
  font-size: 14px;
}

table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
}

thead tr th {
  border-bottom: 1px solid var(--border);
  border-collapse: separate;
  border-spacing: 5px 5px;
  padding-bottom: 7px;
}

tbody tr td {
  text-align: center;
}

.padded {
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}
