/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1B4571;
  --light-blue: #578fc4ac;
  --black: #333;
  --red: #ff3f53;
  --green: #00b300;
  --grey: #ebebff;
  --border: #d6d6d6;
  --hover-red: #d04250;
  --hover-blue: #153a64;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 4rem;
  z-index: 0;
  border: 1px solid red;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--black);
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
  color: var(--grey);
  margin: 20px 0;
  font-size: 1.4rem;
}

h3 {
  text-align: center;
  color: var(--grey);
  margin-bottom: 20px;
  font-size: 1.2rem;
}

h4 {
  color: var(--grey);
  font-size: 1.1rem;
  margin: 0;
  font-weight: 300;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.btn-link,
button {
  display: block;
  padding: 7px 10px;
  width: fit-content;
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: var(--blue);
}

.btn-link:hover,
button:hover {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--hover-blue);
  background-color: var(--hover-blue);
}

.btn-link.warning {
  background-color: var(--red);
  color: #fff;
}

.btn-link.warning:hover {
  background-color: var(--hover-red);
}

.btn-link.small {
  margin: 0;
  padding: 3px 5px;
  font-size: 12px;
}

.btn-link.large {
  margin: 0;
  padding: 3px 5px;
  font-size: 12px;
}

.back {
  width: 25px;
  height: 25px;
  padding: 0;
}

.back-icon {
  width: 100%;
  height: 100%;
}

table {
  border: 1px solid var(--border);
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0px 6px;
  width: 100%;
  margin: 5px auto;
}

thead tr th {
  font-size: 0.9rem;
  border-bottom: 1px solid var(--border);
  border-collapse: separate;
  border-spacing: 5px 5px;
  padding-left: 10px;
  padding-bottom: 7px;
  text-align: left;
}

tbody tr td {
  padding-left: 10px;
  text-align: left;
}

tbody tr td form {
  width: fit-content;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .btn-link.large {
    margin: 0 auto;
    padding: 5px 8px;
    font-size: 13px;
  }

  thead tr th {
    font-size: 16px;
  }
}
