.no-foods {
    text-align: center;
    color: var(--border);
    font-size: 1rem;
    margin-bottom: 20px;
}

.food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--border);
}

.food-container table tbody tr td {
    font-size: 0.85rem;
}

@media screen and (min-width: 1200px) {
    .food-container table tbody tr td {
        font-size: 1rem;
    }
}