.form-container {
  height: 100vh;
}

form {
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

.field {
  position: relative;
  margin-top: 20px;
}

.field input,
.field textarea,
.field select {
  width: 100%;
  height: 40px;
  padding: 0px 8px;
  outline: none;
  border-radius: 4px;
  color: var(--border);
  border: 1px solid #fff;
  background-color: transparent;
}

.field textarea {
  height: 70px;
  padding-top: 8px;
}

.field-icon input {
  padding-left: 40px;
}

.field input::placeholder,
.field textarea::placeholder,
.field select::placeholder {
  color: var(--border);
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 20px;
  text-transform: uppercase;
}

.field textarea::placeholder {
  font-size: 0.85rem;
}

.field span {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.checkbox {
  margin: 10px 0;
}

.checkbox input:hover {
  cursor: pointer;
}

.checkbox label {
  color: var(--border);
  font-size: 0.8rem;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: var(--blue);
  background-color: #fff;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
}

.sharedLinks {
  text-align: right;
}

.sharedLinks a {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.sharedLinks a:hover {
cursor: pointer;
text-decoration: underline;
}

.last {
  margin-bottom: 20px;
}

option {
  color: var(--blue);
}