header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3.5rem;
  width: 100%;
  background-color: #fff;
}

h1 {
  color: var(--blue);
  font-size: 1.2rem;
}

nav {
  width: fit-content;
}

nav > ul {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: padding 0.3s ease-out;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  font-size: 17px;
  background-color: var(--blue);
}

nav > ul.height {
  height: 207.5px;
  padding: 20px;
}

nav > ul > li {
  flex: 1;
  text-align: center;
  width: max-content;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

nav > ul > li:last-child a {
  display: block;
  padding: 7px 10px;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--blue);
  border-radius: 4px;
  border: 1px solid var(--hover-blue);
  background-color: #fff;
}

nav > ul > li:last-child a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: var(--hover-blue);
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger span {
  background-color: var(--blue);
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 2rem;
    height: 4rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  nav > ul {
    top: 4rem;
  }

  nav > ul.height {
    padding: 20px 30px;
  }

  .hamburger {
    width: 40px;
    height: 25px;
  }

  .hamburger span {
    height: 5px;
    border-radius: 4px;
  }

  .hamburger span:nth-child(2) {
    top: 10px;
  }

  .hamburger.open span:nth-child(1) {
    top: 10px;
  }

  .hamburger.open span:nth-child(3) {
    top: 10px;
  }
}
