header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3.5rem;
  width: 100%;
  background-color: #fff;
}

h1 {
  color: var(--blue);
}

nav {
  width: fit-content;
}

h1 {
  font-size: 1.2rem;
}

nav > ul {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.7s ease-out;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: var(--blue);
  background-color: var(--grey);
}

nav > ul.height {
  height: fit-content;
  padding: 20px;
}

nav > ul > li {
  flex: 1;
  text-align: center;
  width: max-content;
}

nav > ul > li:last-child {
  border-right: none;
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger span {
  background-color: var(--blue);
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .hamburger {
    width: 40px;
    height: 25px;
  }

  .hamburger span {
    height: 5px;
    border-radius: 4px;
  }

  .hamburger span:nth-child(2) {
    top: 10px;
  }

  .hamburger.open span:nth-child(1) {
    top: 10px;
  }

  .hamburger.open span:nth-child(3) {
    top: 10px;
  }
}