nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav > ul {
  display: flex;
  width: auto;
  list-style: none;
  margin: 0;
}

nav > ul > li {
  flex: 1;
  text-align: center;
  min-width: 150px;
}
