.recipes {
  width: 89%;
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 160px 160px;
  grid-template-rows: 260px;
  padding: 0;
  margin: 5px auto;
}

.recipes li {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--light-blue);
}

.img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--hover-blue);
}

.info p {
  margin: 0;
}

.username {
  color: var(--grey);
  text-align: center;
  font-size: 0.8rem;
  margin-top: 7px;
  margin-bottom: 0;
}

/* .recipes li:last-child {
  border-bottom: none;
}

.recipes p {
  margin: 0;
}

.recipes p > span {
  font-weight: 600;
}

.recipes li > div {
  flex: 1;
}

.recipes div.bold {
  font-weight: 600;
} */
