.recipes {
  width: 89%;
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 160px 160px;
  padding: 0;
  margin: 5px auto;
}

.recipes li {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--light-blue);
  transition: transform 0.3s ease-in-out;
}

.recipes li:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.87rem;
  font-weight: 600;
  padding: 0px 8px;
  color: var(--hover-blue);
}

.info p {
  margin: 0;
}

.watch {
  width: 16px;
  height: 16px;
  object-fit: contain;
  transform: translateY(2px);
  color: var(--hover-blue);
  mix-blend-mode: multiply;
}

.username {
  color: var(--border);
  text-align: center;
  font-size: 0.8rem;
  margin-top: 7px;
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .recipes {
    grid-template-columns: 180px 180px;
    gap: 20px;
  }

  .img {
    width: 160px;
    height: 160px;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .recipes {
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
  }

  .img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .recipes {
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: 1rem;
  }

  .info {
    margin-top: 5px;
    padding: 0px 15px;
    font-size: 0.95rem;
  }

  .username {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1400px) {
  .recipes {
    grid-template-columns: 240px 240px 240px 240px 240px;
    gap: 20px;
  }

  .img {
    width: 220px;
    height: 220px;
  }

  .title {
    font-size: 1.1rem;
  }

  .info {
    margin-top: 5px;
    padding: 0px 35px;
    font-size: 0.95rem;
  }

  .username {
    font-size: 0.9rem;
  }
}