.no-recipes {
    text-align: center;
    color: var(--border);
    font-size: 1rem;
}

.recipe-title {
    margin-top: 10px;
}

.recipe-info {
    padding: 0;
    font-size: 0.7rem;
}

.recipe-btn {
    width: fit-content;
    margin: 20px auto;
}

.info-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--border);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.desc {
    width: 90%;
    text-align: center;
    font-size: 0.85rem;
    margin: 0 auto;
}

.time-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

.time-container p {
    margin: 0;
    font-size: 0.85rem;
}

.public-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.public form {
    width: 100%;
    font-size: 0.9rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
    .recipe-title {
        margin-bottom: 5px;
    }
}