.no-recipes {
    text-align: center;
    color: var(--border);
    font-size: 1rem;
}

.recipe-title {
    margin-top: 10px;
}

.recipe-info {
    padding: 0;
    font-size: 0.7rem;
}

.recipe-btn {
    width: fit-content;
    margin: 20px auto;
}

.info-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--border);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.padded {
    width: 90%;
    margin: 0 auto;
}

.desc {
    text-align: center;
    font-size: 0.85rem;
}

.time-container {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.time-container p {
    margin: 0;
    font-size: 0.85rem;
}

.public-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.public form {
    width: 100%;
    font-size: 0.9rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 20px auto;
}

@media screen and (min-width: 480px) {
    .recipe-title {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .padded {
        width: 70%;
    }

    .padded-768px {
        width: 90%;
        margin: 0 auto;
    }

    .button-container {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .desktop-container {
        width: 80%;
        margin: 15px auto 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .desktop-img {
        width: 250px;
        height: 250px;
    }

    .recipe-info {
        font-size: 0.9rem;
    }

    .padded {
        width: 50%;
    }

    .padded-768px {
        width: 50%;
    }

    .desc {
        font-size: 1rem;
    }

    .time-container p {
        font-size: 0.95rem;
    }
}