.shoppingList {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
}

.shoppingList li {
  display: flex;
}

.shoppingList li:first-child {
  flex-direction: column;
  padding: 0px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
}

.shoppingList li div {
  flex: 1;
  text-align: center;
}
