.splash {
    width: 100%;
    height: 100vh;
    background-image: url("splashscreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8a8a8a;
    background-blend-mode: multiply;
    position: relative;
}

.splash-container {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.intro {
    text-align: center;
    font-family: cursive;
    font-size: 1.1rem;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 0;
}

.welcome {
    font-size: 1.5rem;
}

.link {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.login, .signup {
    font-size: 0.9rem;
    padding: 10px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--blue);
    border: 1px solid #fff;
}

.signup {
    padding: 10px 9px;
    color: var(--blue);
    background-color: #fff;
    border: 1px solid var(--border);
}

.login:hover {
    text-decoration: none;
    background-color: var(--hover-blue);
    border: 1px solid var(--hover-blue);
}

.signup:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--hover-blue);
    border: 1px solid var(--hover-blue);
}